/* Global css */
* {padding: 0; margin: 0; outline: 0;}

html{
   	background: #E5B33A url(../img/patternyellows.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
    height: 100%;
}

body {
    min-height: calc(100% - 50px);
    background:url(../img/mountainelement.png) fixed no-repeat bottom right;
}

header {
	margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

section {
	margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h1 {
	color: #fff;
}


p {
	font-size: 20pt;
    text-align: center;
}

#question {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
	text-align: center;
	width: 300px;
	height: 50px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 1em;
}

#start {
	background: #5C9C45 url(../img/patterngreen.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

#next {
    background: #5C9C45 url(../img/patternblue.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#rankings {
	background: #4B7EB7 url(../img/patternblue.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

#settings {
	background: #AF2A6B url(../img/patternpurple.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

.initiallyHidden { visibility: hidden; }
.initiallyGone { display: none; }


.space {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1em;
}

.segmented input[type=radio] {
   display: none;

}
.segmented .label1 {
  display: block;
  text-align: center;
  border: outset 1px silver;
  max-width: 300px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  background: #4B7EB7 url(../img/patternblue.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.segmented input:checked + .label1 {
  border: inset 1px silver;   
    background: #555 url(../img/pattern.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.segmented .label2 {
  display: block;
  text-align: center;
  border: outset 1px silver;
  max-width: 300px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  background: #5C9C45 url(../img/pattergreen.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.segmented input:checked + .label2 {
   border: inset 1px silver;   
    background: #555 url(../img/pattern.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.segmented .label3 {
  display: block;
  text-align: center;
  border: outset 1px silver;
  max-width: 300px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  background: #AF2A6B url(../img/patternpurple.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.segmented input:checked + .label3 {
  border: inset 1px silver;   
    background: #555 url(../img/pattern.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}